# Default values for argocd-root-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Globals
destinationServer: 'https://kubernetes.default.svc'
argoNamespace: 'argocd'
argoProject: 'default'

## Operators

certManager:
  enable: true
  targetRevision: v1.19.1
  serviceAccountName:

ingressNginx:
  enable: true
  targetRevision: 4.1.4

## Disabled ##

clusterAutoscaler:
  enable: false
  targetRevision: 9.19.2
  serviceAccountName:
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 512Mi

externalDns:
  enable: false
  targetRevision: 6.13.1
  zoneIdFilter:
  #provider: "aws"

externalSecrets:
  enable: false
  targetRevision: 0.7.2

argoRollouts:
  enable: false

argoWorkflows:
  enable: false
  targetRevision: 0.20.6

kubeStateMetrics:
  enable: false
  namespace: observability

kubePrometheusStack:
  enable: false
  targetRevision: 39.12.1
  namespace: observability

metricsServer:
  enable: false
  targetRevision: 3.8.2
  namespace: observability
  replicas: 3
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 1

prometheus:
  enable: false
  namespace: observability

promtheusNodeExporter:
  enable: false
  targetRevision: 4.13.0
  namespace: observability

kubernetesDashboard:
  enable: false
  targetRevision: 5.7.0
  namespace: observability

promtail:
  enable: false
  targetRevision: 6.3.0
  namespace: observability

opentelemetryCollector:
  enable: false
  namespace: observability

## __end__
