name: ci
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ '*' ]
    paths-ignore:
      - '**/docs'
      - '**/README.md'
    tags-ignore: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install tools
        run: brew bundle

      - name: Lint chart
        run: make
